body {

    background: url(images/brand-bg.jpg) no-repeat center top;
}

.navbar{

    margin-bottom: 0;
}

.jumbotron{

    background: none;
}

.leadtext{

    color: black;
}

.panel {

    background: none;
}